* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

span.uno {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 100px;
  color: rgba(168, 168, 168, 1);
}

h2.title{
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  color: white;
  padding-top: 30px;
  padding-bottom: 60px;
}

p.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 50px; 
  color: rgba(107, 107, 107, 1);
}